.nav-bg {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.nav-border {
    border-bottom: 1px solid black;
}

.header-showfeats-background-panel {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.3);
    width: 90%;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 8%;
    border-radius: 10px;
}

.background {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    margin-top: 10px;
    top: 0px;
}

.showfeats {
    z-index: 1;
    height: 2em;
    justify-content: center;
    align-items: center;
    color: black;
    display: flex;
    font-size: 8em;
    font-weight: 500;
    text-shadow: -1px 1px 2px white,
        1px 1px 0 white,
        1px -1px 0 white,
        -1px -1px 0 white;
}

.fig-wrapper {
    color: white;
    text-align: center;
    font-size: .5em;
    margin-top: 1%;
}

.first-panel-img {
    display: block;
    margin: auto;
    width: 250px;
    height: 250px;
    margin-top: 4%;
    border-radius: 10px;
}

.about-me-p1 {
    text-align: center;
    margin-top: 4%;
}

.about-me-p2 {
    text-align: center;
    margin-top: 2%;
}

.main-section-panel {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.3);
    width: 75%;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 4%;
    border-radius: 10px;
}

.second-panel-img, .third-panel-img{
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: black;
    text-shadow: -1px 1px 2px white,
        1px 1px 0 white,
        1px -1px 0 white,
        -1px -1px 0 white;
    font-size: 4em;
}

footer {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-top: 1px solid black;
    text-align: center;
    margin-top: 4%;
}

.footer-header-wrapper {
    margin-top: 15px;
}

.footer-content-wrapper {
    font-size: .75em;
    padding: 5% 0;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2%;
    margin-top: 0px;
}

.footer-image-wrapper {
    display: block;
    align-content: center;
}

.resize-footer-image {
    width: 325px;
    height: 225px
}

a:visited {
    color: black;
}

.fig-wrapper-footer {
    color: black;
    text-align: center;
    margin-top: 1%;
}

.copyright {
    text-align: center;
    font-size: .6em;
    margin-top: 0px;
    padding-bottom: 2%;
}

a:link {
    color: blue;
}